.hljs {
  background: transparent;
}
.parent {
  color: #999;
}
.list-group-item > .badge {
  float: none;
  margin-right: 6px;
}
.panel-title > .methods {
  float: right;
}
.badge {
  border-radius: 0;
  text-transform: uppercase;
  width: 70px;
  font-weight: normal;
  color: #f3f3f6;
  line-height: normal;
}
.badge_get {
  background-color: #63a8e2;
}
.badge_post {
  background-color: #6cbd7d;
}
.badge_put {
  background-color: #22bac4;
}
.badge_delete {
  background-color: #d26460;
}
.badge_patch {
  background-color: #ccc444;
}
.list-group,
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel-white {
  border-radius: 0;
}
.panel-white:last-child {
  border-bottom-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-white .panel-heading {
  background: white;
}
.tab-pane ul {
  padding-left: 2em;
}
.tab-pane h1 {
  font-size: 1.3em;
}
.tab-pane h2 {
  font-size: 1.2em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
.tab-pane h3 {
  font-size: 1.1em;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#sidebar {
  margin-top: 30px;
  padding-right: 5px;
  overflow: auto;
  height: 90%;
}
.top-resource-description {
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
  padding: 15px 15px 0 15px;
  margin: -15px -15px 10px -15px;
}
.resource-description {
  border-bottom: 1px solid #fcfcfc;
  background: #fcfcfc;
  padding: 15px 15px 0 15px;
  margin: -15px -15px 10px -15px;
}
.resource-description p:last-child {
  margin: 0;
}
.list-group .badge {
  float: left;
}
.method_description {
  margin-left: 85px;
}
.method_description p:last-child {
  margin: 0;
}
/* pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
} */
.items {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
}
.examples {
  margin-left: 0.5em;
}
.resource-modal li > ul {
  margin-bottom: 1em;
}
.required {
  color: #f00;
}

.modal
{
  position: static;
  display: block;
  margin-bottom: 5px;
}

.modal-content
{
  border-color: #b7b7b7;
}

.panel-group .panel+.panel
{
  margin-top: 10px;
}

.nav.nav-tabs
{
  margin-top: 10px;
}

.alert
{
  margin-bottom: 0;
}

/* sidebar  */
.sidebar {
  background-color:var(--oc-gray-2);
  height:100%;
  margin:2% 0;
 }

 @media (min-width: 992px) {
   .sidebar{
    position: fixed;
   }
 }

 .sidebar nav{
  max-height:100vh;
  overflow-y:auto;
  position:sticky;
  top:0
 }

 .sidebar nav ul li{
  list-style: none;
 }
 .sidebar nav ul {
  padding-left: 0;
  margin-right:40px;
 }

a{
  text-decoration: none;
}

 .menu-list {
  line-height:1.25
 }
 .menu-list a {
  border-radius:2px;
  color:#4a4a4a;
  display:block;
  padding:.5em .75em
 }
 .menu-list a:hover {
  background-color:#f5f5f5;
  color:#363636
 }
 .menu-list a.is-active {
  background-color:#3273dc;
  color:#fff
 }
 .menu-list > li ul {
  border-left:1px solid #dbdbdb;
  margin:.75em;
  /* padding-left:.75em */
  padding-left:0
 }
 .menu-label {
  color:#7a7a7a;
  font-size:.75em;
  letter-spacing:.1em;
  text-transform:uppercase
 }
 .menu-label:not(:first-child) {
  margin-top:1em
 }
 .menu-label:not(:last-child) {
  margin-bottom:1em
 }